@charset "utf-8";

.visual {
	position: relative;
	width:100%;
	height:108rem;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 1024px) {
	.visual {
		height:76.8rem;	
	}
}
@media screen and (max-width: 480px) {
	.visual {
		height:66rem;	
	}
}
.visual video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter:brightness(0.45);
}
.visual .visual-text {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index:2;
}
@media screen and (max-width: 1300px) {
	.visual .visual-text {
		padding-inline: 3rem;
	}
}
.visual .visual-text h2 {
	font-size:5rem;
	color: #fff;
	font-weight: 700;
}
@media screen and (max-width: 1024px) {
	.visual .visual-text h2 {
		font-size:3rem;
		line-height: 1.4em;
		text-align: center;
	}
}
@media screen and (max-width: 480px) {
	.visual .visual-text h2 {
		font-size:2.6rem;
	}
}
.visual .visual-text p {
	font-size:2rem;
	color: #fff;
	font-weight: 400;
	line-height: 1.4em;
	margin-top:6rem;
	text-align: center;
}
@media screen and (max-width: 1024px) {
	.visual .visual-text p {
		font-size:1.8rem;
		line-height: 1.4em;
		margin-top:4rem;
	}
}
@media screen and (max-width: 768px) {
	.visual .visual-text p {
		font-size:1.6rem;
	}
}
@media screen and (max-width: 480px) {
	.visual .visual-text p {
		font-size:1.4rem;
	}
}
.visual .btn-line {
	margin-top:15rem;
}
.visual .btn {
	display: flex;
	align-items: center;
	gap:.6rem;
	height: 5.4rem;
	padding:1.6rem 4rem;
	font-size:1.8rem;
	color:#00FFBF;
	font-weight: 500;
	background-color: rgba(180,135,15,.05);
	border:1px solid #006B50;
	border-radius: 5em;
	backdrop-filter: blur(.4rem);
	transition:.3s;
}
@media screen and (max-width: 1024px) {
	.visual .btn-line {
		margin-top:8rem;
	}
	.visual .btn {
		height: 4.8rem;
		font-size:1.6rem;
		padding:1.6rem 2.6rem;
	}
}
@media screen and (max-width: 480px) {
	.visual .btn-line {
		margin-top:6rem;
	}
	.visual .btn {
		height: 4.0rem;
		font-size:1.4rem;
		padding:1.4rem 2.2rem;
	}
}
.visual .btn:hover {
	background-color: rgba(0,107,80,1);
}

.sec02 {
	min-height: 94rem;
	background-image: url(../images/main/sec02_bg.png);
	background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
	.sec02 {
		background-size: 140rem;
    background-position: center top -20rem;
		min-height:auto;
		padding-bottom: 50rem;
	}
}
@media screen and (max-width: 650px) {
	.sec02 {
		padding-bottom: 35rem;
	}
}
.sec02 .sec02-inner {
	width:130rem;
	margin: 0 auto;
}
@media screen and (max-width: 1300px) {
	.sec02 .sec02-inner {
		width:100%;
		padding-inline: 13rem;
	}
}
@media screen and (max-width: 1024px) {
	.sec02 .sec02-inner {
		width:100%;
		padding-inline: 6rem;
	}
}
@media screen and (max-width: 768px) {
	.sec02 .sec02-inner {
		width:100%;
		padding-inline: 0rem;
	}
}
.heading-line {
	margin-top:16rem;
}
@media screen and (max-width: 1300px) {
	.heading-line {
		margin-top:8rem;
	}
}
@media screen and (max-width: 768px) {
	.heading-line {
		text-align: center;
		margin-top:9rem;
		padding-inline: 2rem;
	}
}
@media screen and (max-width: 480px) {
	.heading-line {
		margin-top:10rem;
	}
}
.heading-line .cate {
	font-size:2.8rem;
	font-weight: 500;
	background:linear-gradient(to left, #50A8D7, #2CAA6F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	background-clip: text;
  color: transparent;
}
@media screen and (max-width: 1300px) {
	.heading-line .cate {
		font-size:2.2rem;
	}
}
@media screen and (max-width: 768px) {
	.heading-line .cate {
		font-size:2rem;
	}
}
@media screen and (max-width: 480px) {
	.heading-line .cate {
		font-size:1.6rem;
	}
}
.heading-line h3 {
	font-size:4.5rem;
	font-weight: 700;
	color:#222;
	line-height: 1.4em;
	margin-top:2rem;
}
@media screen and (max-width: 1300px) {
	.heading-line h3 {
		font-size:3rem;
	}
}
@media screen and (max-width: 768px) {
	.heading-line h3 {
		font-size:2.6rem;
	}
}
@media screen and (max-width: 480px) {
	.heading-line h3 {
		font-size:2.3rem;
	}
}
.heading-line .heading-txt {
	font-size:2rem;
	font-weight: 300;
	color:#222;
	line-height: 1.4em;
	margin-top:1rem;
}
@media screen and (max-width: 1300px) {
	.heading-line .heading-txt {
		font-size:1.8rem;
	}
}
@media screen and (max-width: 768px) {
	.heading-line .heading-txt {
		text-align: center;
		font-size:1.6rem;
	}
}
@media screen and (max-width: 480px) {
	.heading-line .heading-txt {
		text-align: center;
		font-size:1.4rem;
	}
}
.sec02 .sec02-inner .swiper-cont-wrap {
	position: relative;
	margin-top:7rem;
	display: flex;
}
.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper {
	width:110.5rem;
	position:absolute;
	right: -49.2rem;
  top: 5rem;
}
@media screen and (max-width: 1300px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper {
		width:60rem;
		position:absolute;
		right: -25rem;
		top: 5rem;
	}
}
@media screen and (max-width: 1024px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper {
		right: -18rem;
	}
}
@media screen and (max-width: 768px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper {
		position: absolute;
		right: auto;
		width: calc(100vw + 20vw);
		left: 50%;
		transform: translateX(-50%);
	}
}


.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-wrapper {
	position: relative;
	align-items: baseline;
}


.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide {
	display: flex;
	flex-direction: column;
	gap:3rem;
}

.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-next::before {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	width: 100%;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 1)) 100%;
	z-index: 2;
	border-top-right-radius: 3.4rem;
	border-bottom-right-radius: 3.4rem;
}
@media screen and (max-width: 1300px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-next::before {
		content: '';
		position: absolute;
		top: 0;
		height: 18rem;
		left: 50%;
    transform: translateX(-50%);
		width: 18rem;
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 1)) 100%;
		z-index: 2;
		border-top-right-radius: 3.4rem;
		border-bottom-right-radius: 3.4rem;
	}
}
@media screen and (max-width: 650px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-next::before {
		height: 11rem;
		width: 11rem;
		border-top-right-radius: 2.0rem;
		border-bottom-right-radius: 2.0rem;
	}
}
.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-prev::before {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	width: 100%;
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0)) 100%;
	z-index: 2;
	border-top-left-radius: 3.4rem;
	border-bottom-left-radius: 3.4rem;
}
@media screen and (max-width: 1300px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-prev::before {
		content: '';
		position: absolute;
		top: 0;
		height: 18rem;
		left: 0;
		width: 18rem;
		background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0)) 100%;
		z-index: 2;
		border-top-left-radius: 3.4rem;
		border-bottom-left-radius: 3.4rem;
	}
}
@media screen and (max-width: 768px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-prev::before {
		content: '';
		position: absolute;
		top: 0;
		height: 18rem;
		left: 50%;
    transform: translateX(-50%);
		width: 18rem;
		background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0)) 100%;
		z-index: 2;
		border-top-left-radius: 3.4rem;
		border-bottom-left-radius: 3.4rem;
	}
}
@media screen and (max-width: 650px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-prev::before {
		height: 11rem;
		width: 11rem;
		border-top-left-radius: 2rem;
		border-bottom-left-radius: 2rem;
	}
}

.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide img {
	width:28rem !important;
}
@media screen and (max-width: 1300px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide img {
		width:18rem !important;
	}
}
@media screen and (max-width: 768px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide {
		align-items: center;
	}
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide img {
		width:18rem !important;
	}
}
@media screen and (max-width: 650px) {	
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide img {
		width:11rem !important;
	}
}

.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide .txt {
	font-size:2rem;
	font-weight: 300;
	color:#000;
	line-height: 1.4em;
	display: none;
	text-align: center;
	transition: 1s;
}
@media screen and (max-width: 1300px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide .txt {
		font-size:1.6rem;
	}
}
@media screen and (max-width: 480px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide .txt {
		font-size:1.4rem;
		word-break: keep-all;
	}
}
.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-active {
	width:47.3rem;
}
.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-active img {
	width:47.3rem !important;
}
@media screen and (max-width: 1300px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-active {
		width:auto;
	}
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-active img {
		width:24rem !important;
	}
}
@media screen and (max-width: 650px) {
	
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-active img {
		width:15rem !important;
	}
}
.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-active .txt {	
	display: block
}
.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-active .txt strong {	
	display: none
}
@media screen and (max-width: 768px) {
	.sec02 .sec02-inner .swiper-cont-wrap .mainSwiper .swiper-slide.swiper-slide-active .txt strong {	
		display: block;
		text-align: center;
		font-weight: 600;
		margin-bottom:.6rem;
	}
}
.sec02 .sec02-inner .swiper-cont-wrap .swiper-pagination {
	display: inline-flex;
	flex-direction: column;
	gap: 1.6rem;
	width: auto;
	bottom: auto;
}
@media screen and (max-width: 1300px) {
	.sec02 .sec02-inner .swiper-cont-wrap .swiper-pagination {
		gap: 1.2rem;
	}
}
@media screen and (max-width: 768px) {
	.sec02 .sec02-inner .swiper-cont-wrap .swiper-pagination {
		display: none;
	}
}
.sec02 .sec02-inner .swiper-cont-wrap .swiper-pagination-bullet {
	display: inline-flex;
	align-items: center;
	height: 6rem;
	padding:2.2rem 3.2rem;
	font-size:2.4rem;
	color:#a5a5a5;
	font-weight: 600;
	background-color: #fff;
	border:1px solid #cfcfcf;
	border-radius: 5em;
	width: max-content;
	opacity: 1;
	margin:0;
}
@media screen and (max-width: 1300px) {
	.sec02 .sec02-inner .swiper-cont-wrap .swiper-pagination-bullet {
		height: 5rem;
		padding:1.8rem 2.8rem;
		font-size:2rem;
	}
}
.sec02 .sec02-inner .swiper-cont-wrap .swiper-pagination-bullet-active {
	color:#fff;
	background:linear-gradient(to left, #50A8D7,#2CAA6F);
}

.sec03 {
	min-height: 94rem;
}
@media screen and (max-width: 768px) {
	.sec03  {
		min-height: auto;
		padding-bottom: 15rem;
	}
}


.sec03 .sec03-inner {
	width:130rem;
	margin: 0 auto;
}
@media screen and (max-width: 1300px) {
	.sec03 .sec03-inner {
		width:100%;
		padding-inline: 13rem;
	}
}
@media screen and (max-width: 768px) {
	.sec03 .sec03-inner {
		width:100%;
		padding-inline: 4rem;
	}
}
@media screen and (max-width: 580px) {
	.sec03 .sec03-inner {
		padding-inline: 2rem;
	}
}
.sec03 .sec03-inner .sec03-cont-wrap {
	margin-top:12rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap:2rem;
}
@media screen and (max-width: 580px) {
	.sec03 .sec03-inner .sec03-cont-wrap {
		margin-top:12rem;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap:2rem;
	}
}
.sec03 .sec03-inner .sec03-cont-wrap .cont-box {
	position: relative;
	width:100%;
	height:44rem;
	border-radius: 2rem;
	padding:5rem 3.5rem;
	overflow: hidden;
}
@media screen and (max-width: 1300px) {
	.sec03 .sec03-inner .sec03-cont-wrap .cont-box {
		padding:4rem 2rem;
	}
}
@media screen and (max-width: 768px) {
	.sec03 .sec03-inner .sec03-cont-wrap .cont-box {
		padding:3rem 2rem;
		text-align: center;
		height: auto;
		min-height: 33rem;
	}
}
@media screen and (max-width: 580px) {
	.sec03 .sec03-inner .sec03-cont-wrap .cont-box {
		min-height: 30rem;
	}
}
.sec03 .sec03-inner .sec03-cont-wrap .cont-box:nth-child(1) img {
	position:absolute;
	bottom: -35px;
	right: -20px;
}
@media screen and (max-width: 768px) {
	.sec03 .sec03-inner .sec03-cont-wrap .cont-box:nth-child(1) img {
		width: 18rem;
    right: auto;
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%);
	}
}
.sec03 .sec03-inner .sec03-cont-wrap .cont-box:nth-child(2) img {
	position:absolute;
	width: 30rem;
	bottom: -60px;
	right: -40px;
}
@media screen and (max-width: 768px) {
	.sec03 .sec03-inner .sec03-cont-wrap .cont-box:nth-child(2) img {
		bottom: -4rem;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 18rem;
	}
}
.sec03 .sec03-inner .sec03-cont-wrap .cont-box:nth-child(3) img {
	position:absolute;
	width: 26rem;
	bottom: -20px;
	right: -30px;
}
@media screen and (max-width: 768px) {
	.sec03 .sec03-inner .sec03-cont-wrap .cont-box:nth-child(3) img {
		bottom: -1rem;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 14rem;
	}
}
.sec03 .sec03-inner .sec03-cont-wrap .cont-box .tit {
	font-size:2.8rem;
	font-weight: 700;
	color:#222;
}
@media screen and (max-width: 1300px) {
	.sec03 .sec03-inner .sec03-cont-wrap .cont-box .tit {
		font-size:2.2rem;
	}
}
@media screen and (max-width: 768px) {
	.sec03 .sec03-inner .sec03-cont-wrap .cont-box .tit {
		font-size:1.8rem;
	}
}
.sec03 .sec03-inner .sec03-cont-wrap .cont-box:nth-child(3) .tit {
	color:#fff;
}
.sec03 .sec03-inner .sec03-cont-wrap .cont-box .txt {
	font-size:2em;
	font-weight: 400;
	color:#222;
	line-height: 1.4em;
	margin-top:2rem;
	word-break: keep-all;
}
@media screen and (max-width: 1300px) {
	.sec03 .sec03-inner .sec03-cont-wrap .cont-box .txt {
		font-size:1.5em;
	}
}
@media screen and (max-width: 768px) {
	.sec03 .sec03-inner .sec03-cont-wrap .cont-box .txt {
		text-align: center;
	}
}
.sec03 .sec03-inner .sec03-cont-wrap .cont-box:nth-child(3) .txt {
	color:#fff;
}
.sec03 .sec03-inner .sec03-cont-wrap .cont-box:nth-child(1) {
	background:linear-gradient(to bottom, #E4FFEF, #F6FFFA);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-repeat: no-repeat;
}
.sec03 .sec03-inner .sec03-cont-wrap .cont-box:nth-child(2) {
	background:linear-gradient(to bottom, #F4F6FF, #F8F9FF);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-repeat: no-repeat;
}
.sec03 .sec03-inner .sec03-cont-wrap .cont-box:nth-child(3) {
	background:linear-gradient(to bottom, #7EA2FF, #5282FF 10%, #5282FF 100%);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-repeat: no-repeat;
}